<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>className</key>
		<string>HomeVC</string>
		<key>selectImage</key>
		<string>home_shouyeb</string>
		<key>image</key>
		<string>home_shouye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特价</string>
		<key>className</key>
		<string>SpecialOfferListVC</string>
		<key>selectImage</key>
		<string>home_shouyeb</string>
		<key>image</key>
		<string>home_shouye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>厂家</string>
		<key>className</key>
		<string>ManufacturersVC</string>
		<key>selectImage</key>
		<string>home_shouyeb</string>
		<key>image</key>
		<string>home_shouye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>互动</string>
		<key>className</key>
		<string>InteractionVC</string>
		<key>selectImage</key>
		<string>home_shouyeb</string>
		<key>image</key>
		<string>home_shouye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>失信</string>
		<key>className</key>
		<string>LosePromiseVC</string>
		<key>selectImage</key>
		<string>home_shouyeb</string>
		<key>image</key>
		<string>home_shouye</string>
	</dict>
</array>
</plist>
